# Linux File
.directory

# MacOS File
.DS_Store

# Don't save the Output files
src/*output*
src/Part_1_Tests/Out/*
src/Part_2_Tests/Out/*
src/Part_3_Tests/Out/*


# Notes
Interpreter Func notes.rnote

src/Part_3_Tests/In/input.zip
ExpectedOutputs/Part_3_Tests/expectedOut.zip
ExpectedOutputs/Part_1_Tests.zip
ExpectedOutputs/Part_2_Tests.zip
ExpectedOutputs/Part_3_Tests.zip
ExpectedOutputs.zip
